*{
    margin : 0px ; 
    padding : 0px ; 
    box-sizing : border-box ; 
}
body{
    background-color : lightblue ; 
}
.input-code-here{
    display : block ; 
    width : 375px ; 
    margin : 50px auto ; 
    background-color : whitesmoke ; 
    padding : 20px ; 
    border : none ; 
    border-radius : 5px ; 
}
#source-image{
    width : 55px ; 
    height : 55px ; 
    display : block ; 
    margin : 10px auto ; 
}
.code-input-form{
    padding : 10px ; 
    display : block ; 
    margin : 10px auto ; 
}
#code-here-label{
    font-size : 19px ; 
    font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; 
    margin : 1.5px ; 
}
#enter-code-here{
    border : 0.5px solid rgba(0, 0, 0, 0.678) ; 
    width : 100% ; 
    padding : 10px ; 
    font-size : 16px ; 
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; 
    margin-top : 5px ; 
}
#enter-code-here:hover{
    border : 1px solid black ; 
    border-radius : 3.5px ; 
}
#enter-code-here:focus{
    box-shadow : 0 4px 8px rgba(0,0,0,0.2) ; 
    border : 1.5px solid rgba(0, 0, 0, 0.808) ; 
}
#paragraph-inbox-spam{
    margin : 10px ; 
    color : rgba(0, 0, 0, 0.849) ; 
    font-size : 13px ; 
    font-family : sans-serif ; 
    font-weight : bold ; 
}
#forgot-password-code-input-button{
    width : 100% ; 
    margin : 11px ; 
    margin-left : 0px ; 
    padding : 10px ; 
    background-color : rgb(2,2,41) ; 
    color : white ; 
    border : none ; 
    opacity : 0.5px ; 
    cursor : pointer ; 
}
#forgot-password-code-input-button:hover{
    background-color: #8bb3b4 ; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) ; 
}